@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

.nav-top {
	width: 100%;
	height: 40px;
	background-color: #3d72fe;
}

.nav-top-manin {
	margin-left: 18.75%;
}

.nav-top-manin-content {
	color: white;
	text-align: center;
	line-height: 40px;
	float: left;
	width: 150px;
}

.nav-top-manin-content:hover {
	cursor: pointer;
}

.nav-top-manin-content.pr {
	background-color: #59e8e3;
}

.nav-top-manin-but {
	margin-top: 5px;
	width: 104px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
		float: left;
	position: relative;
	left: 55%;
	background-color: #59e8e3;
	text-align: center;
}

.nav-top-manin-but:hover {
	cursor: pointer;
}

.main-back {
	width: 100%;
	height: 900px;
	background-color: #f2f2f2;
}

.nav-ul ul li {
	text-align: center;
	margin-top: 10px;
	width: 50px;
	list-style: none;
	margin-left: 4px;
	border-radius: 5px;
}

.nav-ul ul>:first-child {
	margin-left: 20px;
}

.nav-ul ul li {
	float: left;
}

ul li:hover {
	cursor: pointer;
}

.li-Completed:hover {
	background-color: #3d72fe;
	color: white;
	border-radius: 5px;
}

.li-not:hover {
	background-color: #3d72fe;
	color: white;
	border-radius: 5px;
}

.main-conter-ch {
	width: 880px;
	height: 616px;
	position: relative;
	left: 33.8%;
	top: 20px;
	background-color: white;
}


/*.py{
	margin-top: 10px;
	margin-left: 800px;
}*/

#container {
	padding-top: 10px;
	margin-left: 625px;
}

.hr-he {
	width: 860px;
	height: 20px;
	text-align: center;
	position: relative;
	left: 10px;
	line-height: 20px;
	padding-top: 10px;
}

.comprehensive {
	width: 849px;
	height: 40px;
	border: solid 1px #a0a6ad;
	position: relative;
	left: 15px;
}

.comprehensive-zh {
	width: 100px;
	text-align: center;
	line-height: 39px;
	color: #7ea1fe;
	border-right: solid 1px #a0a6ad;
	float: left;
}

.comprehensive-zh:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}

.class-time {
	width: 120px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	float: left;
	border-right: solid 1px #a0a6ad;
	background-color: #f2f2f2;
}

.class-time ul li:first-child {
	float: left;
	margin-left: 25px;
}

ul li {
	display: block;
}

.class-time:hover {
	cursor: pointer;
}

.paging {
	height: 38px;
	float: right;
	margin-right: 20px;
	line-height: 38px;
}

.room-class {
	width: 849px;
	height: 144px;
	background-color: white;
	border: solid 1px #a0a6ad;
	position: relative;
	left: 15px;
	top: 4px;
	margin-top: 20px;
}

.number {
	width: 36px;
	height: 36px;
	color: white;
	background-color: #a0a6ad;
	text-align: center;
	line-height: 36px;
	float: left;
}

.class-static {
	color: #b93535;
	background-color: #fdf3ec;
	width: 100px;
	height: 20px;
	text-align: center;
	float: right;
	font-size: 14px;
	line-height: 20px;
	border-radius: 8px;
	margin-right: 20px;
}

.room-static {
	width: 360px;
	height: 30px;
	clear: both;
	position: relative;
	line-height: 30px;
	left: 84px;
	float: left;
}

.room-class-two {
	width: 180px;
	float: left;
	text-align: center;
	line-height: 30px;
	position: relative;
	left: 45px;
}

.but-update {
	width: 80px;
	height: 30px;
	color: white;
	background-color: #a0a6ad;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	float: left;
	position: relative;
	left: 75px;
	top: 10px
}

.but-update:hover {
	cursor: pointer;
}

.room-introduction {
	width: 80px;
	color: white;
	background-color: #59E8E3;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	float: left;
	position: relative;
	left: 74px;
}

.room-introduction:hover {
	cursor: pointer;
}

.but-kc {
	height: 40px;
	line-height: 40px;
}

.class-but-del {
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: white;
	background-color: #a0a6ad;
	border-radius: 5px;
	float: right;
	margin-right: 20px;
	position: relative;
	bottom: 13px;
}

.class-but-del:hover {
	cursor: pointer;
}

.class-bottom {
	width: 100%;
	height: 36px;
	background-color: #f2f2f2;
	float: left;
}

.class-xq {
	width: 80px;
	height: 30px;
	background-color: #59e8e3;
	color: white;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	float: right;
	margin-right: 45px;
	margin-top: 4px;
}

.class-xq {
	cursor: pointer;
}

.class-no-teaching {
	width: 260px;
	color: #b93535;
	background-color: #fdf3ec;
	height: 20px;
	text-align: center;
	float: right;
	font-size: 14px;
	line-height: 20px;
	border-radius: 8px;
	margin-right: 20px;
}

.fy-zt {
	color: #4a7bfe;
}

.fy-x:hover {
	cursor: pointer;
}

.no-del {
	background-color: #59e8e3;
}

.updateClass {
	width: 640px;
	height: 520px;
	background-color: #f2f2f2;
	border: solid 30px #9a9a9a;
	float: left;
	font-size: 20px;
	text-align: center;
}

.exit-but {
	float: left;
}

.exit-but:hover {
	cursor: pointer
}

.uptable {
	margin-left: 100px;
	margin-top: 20px;
}

.class-box {
	width: 306px;
	height: 40px;
	border-radius: 5px;
	border: solid 1px #3d72fe;
	margin-bottom: 20px;
}

.box-td {
	padding-bottom: 20px;
}

.set-className {
	width: 306px;
	height: 40px;
	border-radius: 5px;
	font: "微软雅黑";
	font-size: 16px;
	border: solid 1px #3d72fe;
	margin-bottom: 20px;
}

.time-select {
	width: 48px;
	height: 40px;
	border-radius: 4px;
	font-size: 20px;
	border: solid 1px #3d72fe;
	border-radius: 4px;
	margin-bottom: 20px;
}

.time-select-y {
	width: 120px;
	height: 40px;
	font-size: 20px;
	border: solid 1px #3d72fe;
	border-radius: 4px;
	margin-bottom: 20px;
	text-align: center;
}

.box-room-rn-text {
	width: 305px;
	height: 190px;
	overflow-x: hidden;
	overflow-y: auto;
	resize: none;
	font-size: 20px;
	border: solid 1px #3d72fe;
	border-radius: 4px;
}

.js-rn {
	padding-bottom: 168px;
}

.SeaveUpdate {
	width: 120px;
	height: 50px;
	color: white;
	text-align: center;
	background-color: #3d72fe;
	border-radius: 5px;
}


/*.Update-box{
	position: relative;
	left: 700px;
	bottom: 785px;
}*/

.Update-box {
	z-index: 55;
	position: fixed !important;
	font-size: 16px;
	position: absolute;
	/*filter: alpha(Opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;*/
}