	.d1 {
		background-color: #006DCC;
		color: #FFFFFF;
	}
	
	.nav-top {
		width: 100%;
		height: 40px;
		background-color: #3d72fe;
	}
	
	.nav-top-manin {
		margin-left: 18.75%;
	}
	
	.nav-top-manin-content {
		color: white;
		text-align: center;
		line-height: 40px;
		float: left;
		width: 120px;
	}
	
	.nav-top-manin-content:hover {
		cursor: pointer;
	}
	
	.nav-top-manin-but {
		margin-top: 5px;
		width: 100px;
		height: 30px;
		border-radius: 5px;
		line-height: 30px;
		float: right;
		margin-right: 24.75%;
		background-color: #59e8e3;
		text-align: center;
	}
	
	input[name="capability"] + label::before {
		content: "\a0"; /*不换行空格*/
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		width: 1em;
		height: 1em;
		margin-right: .4em;
		border-radius: 50%;
		border: 1px solid #01cd78;
		text-indent: .15em;
		line-height: 1; 
	}
	
	input[name="capability"]:checked + label::before {
		background-color: #01cd78;
		background-clip: content-box;
		padding: .2em;
	}
	
	input[name="capability"] {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}