		*{
			margin: 0;
			padding: 0;
		 }
		 body{
		 	font-size: 16px;
		 }
		 
		.publicheader{
			width: 100%;
			height: 80px;
			background-color: white;
			/*display: inline-block;*/
		}		
		.publicheaderdiv{
			float: left;
			padding-left: 18.75%;
			width:100%;
		}
		.publicheaderdiv img{
			float: left;
		}
		#publicheaderNav{
			width: 550px;
			line-height: 80px;
		}
		#publicheaderNav a{
			padding-left: 25px;
		}
		#PublicHeaderUserDiv{
			width: 130px;
			float: right;
			margin-right: 18.75%;
			margin-top: 24px;
		}
		#PublicHeaderUserDiv figure{
			margin-top: -5px;
			float: left;
		}
		#PublicHeaderUserDiv select{
			border: 0;
			 margin-top: 5px;
			 margin-left: 5px;
		}
		#userSelect
            {
               /*line-height              : 40pt;*/
               padding-right            : 20pt;
               text-indent              : 4pt;
               text-align               : left;
               vertical-align           : middle;
               border                   : 0px;
               -moz-border-radius       : 6px;
               -webkit-border-radius    : 6px;
               border-radius            : 6px;
               -webkit-appearance       : none;
               -moz-appearance          : none;
               appearance               : none;
               font-family              : SimHei;
               font-size                : 14pt;
               font-weight              : 500;
              /* color                    : RGBA(102,102,102,0.7);*/
               cursor                   : pointer;
               outline                  : none;
            }
		/*LABEL FOR SELECT*/
            div#headerUserSelect{ position: relative; display: inline-block;margin-top: -18px;}


            /*DOWNWARD ARROW (25bc)*/
