@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

.fr {
	float: right;
}
.fl {
	float: left;
}
body {
	font-size: 16px;
	background-color: #F2F2F2;
}

.main-1 {
	height: 2px;
	width: 100%;
	background-color: #3d72fe;
}

.conterToIndex {
	width: 100%;
	height: 100%;
}

.conterToIndex-middle {
	width: 860px;
	height: 100%;
	position: relative;
	left: 18.75%;
	top: 20px;
}

.conterToIndex-middle-one {
	width: 100%;
	height: 100%;
	background-color: white;
	float: left;
}

.conterToIndex-middle-one-ks {
	position: absolute;
}

.conterToIndex-middle-ys {
	margin-top: 15px;
	float: left;
	width: 4px;
	height: 26px;
	background-color: #3D72FE;
}

.conterToIndex-middle-title {
	font-size: 18px;
	font-weight: 700;
	clear: both;
	text-align: center;
}

#date {
	font-size: 10px;
	color: #999999;
}

.conterToIndex-middle-xm {
	margin-top: 25px;
}

.conterToIndex-middle-xm>ul li {
	list-style: none;
	float: left;
}

.conterToIndex-middle-xm-score {
	text-align: center;
	line-height: 40px;
	width: 120px;
	height: 40px;
	border: solid 1px #3D72FE;
	color: #3D72FE;
	border-radius: 3px;
}

.conterToIndex-middle-xm-score:hover {
	cursor: pointer;
}

.font-size {
	font-size: 24px;
}

.label-color {
	color: #b3b8bd;
	margin-left: 15px;
	margin-right: 70px;
}

.hr-div {
	width: 800px;
	height: 1px;
	background-color: #e6edf1;
	clear: both;
	position: relative;
	left: 30px;
	top: 15px;
}

.fcolor {
	color: #3D72FE;
}

.ul {
	margin-left: 40px;
	clear: both;
	width: 620px;
	height: 54px;
}

.ul>li {
	width: 150px;
	height: 54px;
	cursor: pointer;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.font {
	margin-top: 10px;
	margin-left: 20px;
	height: 32px;
}

#lookDetail {
	text-align: center;
	line-height: 40px;
	width: 120px;
	height: 40px;
	border: 1px solid #3D72FE;
	border-radius: 5px;
	float: right;
	position: relative;
	right: 79px;
	bottom: 57px;
	color: #3D72FE;
	cursor: pointer;
}

.showli {
	background-color: #F5F8F9;
}

.nav-number {
	margin-left: 40px;
	width: 800px;
	height: 100%;
	position: relative;
	bottom: 50px;
	float: left;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.conceal {
	display: none;
}

.showU {
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5p;
	border-bottom-right-radius: 5px;
	width: 100%;
	display: block;
	background-color: #F5F8F9;
}

.ps {
	font-size: 12px;
	color: #d0d3d6;
	margin-left: 48px;
}

.MiddlePart {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	float: left;
	position: relative;
}

.MiddlePartSect {
	width: 430px;
	height: 100%;
	/* float: left; */
	margin: auto;
	overflow: hidden;
}


.viewDetails {
	width: 130px;
	height: 40px;
	border: 1px solid #a0a6ad;
	border-radius: 5px;
	position: relative;
	left: 10px;
}

.View {
	width: 70px;
	height: 28px;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}

.change {
	width: 130px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #a0a6ad;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	margin-left: 118px;
	margin-top: 5px;
	margin: auto;
}

.null {
	margin-left: -88px;
	margin-top: 72px;
	font-size: 26px;
	color: #a6acb2;
	font-weight: 200;
}
.list {
	width: 430px;
}
.classlist {
	margin-left: 0px;
	transition: margin-left 1s linear;
}
.classlist .classname {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-top: 50px;
	letter-spacing:2px
}
.classlist .classtitle {
	color: #999;
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
	letter-spacing:2px
}
.classlist .classtitle strong {
	color: #000;
}
.classlist .Knowledge {
	width: 85%;
	margin: 10px auto;
}

.classlist .Knowledge div {
	display: inline-block;
	vertical-align: middle;
}
.classlist .Knowledge .left {
	width: 100px;
	white-space: nowrap;
/* 文本不换行 */
text-overflow:ellipsis;
/* 超出显示为省略号 */
overflow: hidden;
/* 超出部分隐藏 */
cursor: pointer;
}
.classlist .Knowledge .left span {
	position: absolute;
	top: -100%;
}
.classlist .Knowledge .center {
	width: 200px;
	height: 20px;
	border: 20px;
	background-color: #999;
	border-radius: 20px;
	overflow: hidden;
}
.classlist .Knowledge .center .jdt{
	width: 0px;
	height: 20px;
	background-color: #3D72FE;
	border-radius: 20px;
	transition: width 0.5s linear;
}
.classlist .Knowledge .right {
	text-indent: 10px;
	width: 30px;
}
.leftbtn {
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 20%;
	cursor: pointer;
}
.rightbtn {
	font-size: 30px;
	position: absolute;
	top: 50%;
	right: 20%;
	cursor: pointer;
}

#tcbox {
	display: none;
	width: 100px;
    position: absolute;
    padding: 5px 10px;
    border-radius: 10px;
	border-top-right-radius: 0px;
	background-color: #59e8e3;
	transform: translateX(-110%);
}
#tcbox::after {
    content: "";
	border: 10px solid #59e8e3;
    border-color: transparent transparent transparent #59e8e3;
    position: absolute;
    top: 0px;
    right: -20px;
}