* {
	box-sizing:border-box;
}
/*body {
	margin:0;
	padding:0;
	background-image:url(ydrzimages/p3.jpg);
	font-weight:500;
	font-family:"Microsoft YaHei","宋体","Segoe UI","Lucida Grande",Helvetica,Arial,sans-serif,FreeSans,Arimo;
}*/
#container {
	/*width:500px;
	height:820px;*/
	margin-left:373px;
}
/*.search {
	padding:10px 0;
}*/
.bar6 form {
	position:relative;
	width:300px;
	margin:0 auto;
}
.bar6 input,button {
	border:none;
	outline:none;
}
/*input {
	width:68%;
	height:36px;
	padding-left:13px;
}
button {
	height:36px;
	width:42px;
	cursor:pointer;
	position:absolute;
}*/
.bar6 input {
	border:1.5px solid #D1D4D7;
	border-radius:5px;
	background:transparent;
	top:0;
	right:0;
	width:68%;
	height:36px;
	padding-left:13px;
}
.bar6 button {
	background:#3D72FE;
	border-radius:0 5px 5px 0;
	width:42px;
	top:0;
	right:58px;
	background-image:url(../img/searchBotton.png);
	background-repeat:no-repeat;
	background-position:7px 5px;
	height:36px;
	width:42px;
	cursor:pointer;
	position:absolute;
}
.bar6 button:before {
	font-size:13px;
	color:#F9F0DA;
}