@charset "utf-8";
* {
	margin: 0; //外边距为0
	padding: 0; //内边距为0
}

body {
	/*background-color: #59e8e3;*/
}

#Whole {
	width: 100%;
	height: 100%;
}

.Navigation {
	padding-left: 18.75%;
	height: 80px;
	background-color: white;
}

.Navigation .LogImg img {
	margin-top: 8px;
}

.LogImg {
	height: 100%;
	width: 170px;
	float: left;
}

.Longzt {
	text-align: center;
	line-height: 80px;
	height: 100%;
	float: left;
	padding-left: 30px;
		font-size: 22px;
	color: #59e8e3;
	
}

.Logding-main {
	width: 100%;
	height: 850px;
	float: left;
	clear:both;
	background: url(../img/_20181116103602.png);
	background-repeat: repeat-x;
}
.Logding-main>img{
	float: left;
}
.Landing-box {
	float: left;
	margin-top: 200px;
	margin-left: 64.58%;
	width: 320px;
	height: 320px;
	box-shadow: 2px 0px 7px #ccc;//设置边框阴影
	background-color: white;
	border-radius: 5px;//div圆角
}

.Landing-box {
	z-index: 2;
	position: absolute;
	border-radius: 5px;
	background: white;
	box-shadow: 0px 0px 5px #333333;
	transition: all 1s;
	-moz-transition: all 1s;
	/* Firefox 4 */
	-webkit-transition: all 1s;
	/* Safari 和 Chrome */
	-o-transition: all 1s;
	/* Opera */
}

.login-top {
	font-size: 24px;
	margin-top: 50px;
	padding-left: 40px;
	box-sizing: border-box;
	color: #333333;
	margin-bottom: 36px;
}

.login-center {
	width: 100%;
	box-sizing: border-box;
	padding: 0 40px;
	margin-bottom: 30px;
}

.login-center {
	width: 100%;
	box-sizing: border-box;
	padding: 0 40px;
	margin-bottom: 30px;
}
.login-center2 {
	width: 100%;
	box-sizing: border-box;
	padding: 0 40px;
	margin-bottom: 10px;
}

.login-center-img {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 5px;
}

.login-center-img>img {
	width: 100%;
}
.login-center-img-pwd{
	width: 20px;
	height: 20px;
	float: left;
	margin-top:5px;
	margin-left:1px;
}
.login-center-img-pwd>img {
	width: 100%;
}
.login-center-input {
	float: right;
	width: 200px;
	margin-left: 0px;
	height: 30px;
	position: relative;
}

.login-center-input input {
	z-index: 2;
	transition: all 0.5s;
	padding-left: 10px;
	color: #333333;
	width: 100%;
	height: 30px;
	border: 0;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	box-sizing: border-box;
	outline: none;
	position: relative;
}

.login-center-input input:focus {
	border: 1px solid dodgerblue;
}

.login-center-input-text {
	background: white;
	padding: 0 5px;
	position: absolute;
	z-index: 0;
	opacity: 0;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	font-size: 14px;
	left: 5px;
	color: dodgerblue;
	line-height: 20px;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	/* Firefox 4 */
	-webkit-transition: all 0.5s;
	/* Safari 和 Chrome */
	-o-transition: all 0.5s;
	/* Opera */
}

.login-center-input input:focus~.login-center-input-text {
	top: 0;
	z-index: 3;
	opacity: 1;
	margin-top: -15px;
}

.login.active {
	-webkit-animation: login-small 0.8s;
	animation: login-small 0.8s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.login-conter-bottom{
	
}
.login-conter-bottom-ts1{
	float: left;
	margin-left:43px;
}
.login-conter-bottom-ts1>a
{
	color:#4a7bfe;
	font-size: 12px;
	text-decoration: none;//无下划线
	float: left;
}
.login-conter-bottom-ts2{
	float: right;
	margin-right: 40px;
	margin-bottom: 8px;
}
.login-conter-bottom-ts2>a
{
	color:#8b8b8b;
	font-size: 12px;
	text-decoration: none;//无下划线
	
}
.login-conter-bottom-ts2>a:hover{
	color: #4a7bfe;
	text-decoration: none;
}
.login-center-but
{
	width: 240px;
	background-color: #3d72fe;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 42px;
	clear:both;//清除浮动
}
.login-center-but:hover{
	cursor:pointer;//设置小手
}
