@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f2f2f2;
}

.main {
	background-color: #f2f2f2;
}

.nav-top {
	width: 100%;
	height: 40px;
	background-color: #3d72fe;
}

.nav-top-manin {
	margin-left: 18.75%;
}

.nav-top-manin-content {
	color: white;
	text-align: center;
	line-height: 40px;
	float: left;
	width: 120px;
}

.nav-top-manin-content:hover {
	cursor: pointer;
}

.nav-top-manin-content.pr {
	background-color: #59e8e3;
}

.nav-top-manin-but {
	margin-top: 5px;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
	float: left;
	position: relative;
	left: 55%;
	background-color: #59e8e3;
	text-align: center;
}

.nav-top-manin-but:hover {
	cursor: pointer;
}

.main-conter {
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
}

.main-conter-box {
	width: 1200px;
	height: 420px;
	background-color: white;
	margin-top: 10px;
	margin-left: 18.75%;
}

.main-time {}

.box-room-name-one {
	width: 500px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: 400;
	font-size: 23px;
	float: left;
	margin-top: 50px;
	margin-left: 120px;
}

.box-room-name {
	width: 440px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: 400;
	font-size: 23px;
	float: left;
	padding-right: 10px;
	margin-top: 50px;
}

.input-box {
	width: 378px;
	height: 36px;
	border: solid 2px #3d72fe;
	border-radius: 4px;
	text-indent: 1em;
	color: black;
	font-size: 20px;
}

.box-room-selet {
	width: 306px;
	height: 40px;
	border: solid 2px #3d72fe;
	border-radius: 4px;
	font-size: 20px;
}

.box-room-selet-cs {
	border: solid 2px #3d72fe;
	width: 200px;
	height: 40px;
	font-size: 20px;
}

.box-room-selet-cs-but {
	border-radius: 5px;
	color: white;
	width: 80px;
	height: 40px;
	font-size: 14px;
	border: 0px;
	background-color: #59e8e3;
}

.box-room-selet-cs-but:hover {
	cursor: pointer;
}

.box-room-name-one1 {
	width: 500px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: 400;
	font-size: 23px;
	float: left;
	/*margin-top: 20px;*/
	margin-left: 116px;
}

.box-room-name1 {
	width: 440px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: 400;
	font-size: 23px;
	float: left;
	padding-right: 10px;
	margin-left: 7px;
/*	margin-top: 20px;*/
}

.time-select {
	width: 50px;
	height: 40px;
	border-radius: 4px;
	font-size: 20px;
	border: solid 2px #3d72fe;
	border-radius: 4px;
}

.time-select-y {
	width: 120px;
	height: 36px;
	font-size: 20px;
	border: solid 2px #3d72fe;
	border-radius: 4px;
	text-align: center;
}

.box-room-rn {
	width: 100%;
	height: 100px;
	clear: both;
	font-weight: 400;
	font-size: 23px;
	line-height: 100px;
	text-align: center;
}

.box-room-rn-span {
	float: left;
	margin-left: 127px;
	margin-top: -5px;
}

.box-room-rn-text {
	width: 821px;
	height: 80px;
	overflow-x: hidden;
	overflow-y: auto;
	resize: none;
	border: solid 2px #3d72fe;
	border-radius: 4px;
	margin-left: -136px;
	font-size: 18px;
	text-indent: 1em;
	font-weight: 300;
	position: relative;
	left: 62px;
}

.box-sub {
	width: 130px;
	height: 55px;
	background-color: #59e8e3;
	border-radius: 5px;
	color: white;
	position: relative;
	left: 476px;
	text-align: center;
	line-height: 55px;
	font-size: 24px;
	float: left;
}

.box-sub:hover {
	cursor: pointer;
}

.box-room-show {
	width: 1200px;
	margin-top: 25px;
	margin-left: 18.75%;
	background-color: white;
	font: 20px;
}

.box-room-show-nav-span {
	font-size: 20px;
	margin-left: 56px;
	padding-top: 20px;
}

.hr {
	margin-top: 10px;
	margin-left: 57px;
	width: 981px;
}

.box-room-anp {
	width: 849px;
	height: 144px;
	border: solid 1px #a0a6ad;
	position: relative;
	left: 155px;
	top: 4px;
	margin-top: 20px;
}

.box-bq {
	width: 36px;
	height: 36px;
	color: white;
	background-color: #a0a6ad;
	text-align: center;
	line-height: 36px;
	float: left;
}

.box-bq-copy {
	width: 80px;
	height: 40px;
	background-color: #3d72fe;
	color: white;
	float: left;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	margin-left: 570px
}

.box-bq-copy:hover {
	cursor: pointer;
}

.box-bq-jx {
	/*width: 100px;
	height: 20px;
	color: #d07472;
	background-color: #fdf3ec;
	float: left;
	margin-left: 43px;
	border-radius: 8px;
	text-align: center;*/
	color: #b93535;
	background-color: #fdf3ec;
	width: 100px;
	height: 20px;
	text-align: center;
	float: right;
	font-size: 14px;
	line-height: 20px;
	border-radius: 8px;
	margin-right: 20px;
}

.box-bq-jx:hover {
	cursor: pointer;
}

.box-body {
	/*margin-left: 78px;
	clear:both;
	margin-top: 10px;
	float: left;*/
	width: 360px;
	height: 30px;
	clear: both;
	position: relative;
	line-height: 30px;
	left: 84px;
	float: left;
}

.box-body-bj {
	/*float: left;
	margin-top: 10px;*/
	width: 180px;
	float: left;
	text-align: center;
	line-height: 30px;
	position: relative;
	left: -12px;
}

.but-kc {
	height: 40px;
	line-height: 40px;
}

.box-body-box {
	/*width: 80px;
	height: 30px;
	color: white;
	line-height: 30px;
	background-color: #59e8e3;
	text-align: center;
	border-radius: 5px;
	float: left;
	margin-left: 63px;
	position:relative;
	left: 75px; 		*/
	width: 80px;
	color: white;
	background-color: #59E8E3;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	float: left;
	position: relative;
}


/*.pos-lab{
	position:relative;
	left: 69px;
}*/


/*.pos-lab-jx{
	position:relative;
	left: 26px;
}*/


/*.AttendClassVal{
	position:relative;
	left:78px;
}*/


/*.AttendClassVal-time{
	position:relative;
	left: 35px;
}*/

.box-body-box:hover {
	cursor: pointer;
}

.box-body-del:hover {
	cursor: pointer;
}

.box-body-del {
	width: 100px;
	height: 40px;
	color: white;
	background-color: #59e8e3;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	float: left;
	margin-left: 43px;
	position: relative;
	left: 74px;
}

.box-body-bt {
	margin-left: 81px;
	clear: both;
	float: left;
}

.box-body-bj-bt {
	float: left;
	margin-left: 100px;
}

.box-body-bottom {
	width: 100%;
	height: 33px;
	background-color: #f2f2f2;
	float: left;
	text-align: center;
	line-height: 33px;
}