	* {
		margin: 0;
		padding: 0;
	}
	
	.newtestpaper_right {
		float: right;
		margin-right: 18.75%;
		width: 911px;
	}
	
	.newtestpaper_div1 {
		height: 87px;
		background-color: #FFFFFF;
	}
	
	.div1 input {
		border: 0px;
		width: 160px;
		height: 30px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	.div1 div {
		display: inline;
		width: 177px;
		height: 30px;
		float: left;
		text-align: center;
		line-height: 31px;
		padding-left: 35px;
	}
	
	.preview {
		display: inline-block;
		width: 133px;
		height: 40px;
		border: 0px solid;
		border-radius: 5px;
		background-color: #00B83F;
		text-align: center;
		line-height: 36px;
		margin-left: 110px;
		margin-top: -10px;
		color: #FFFFFF;
		cursor: pointer;
	}
	
	.div2 {
		padding-top: 10px;
	}
	
	.div2 button {
		display: inline;
		height: 30px;
		width: 160px;
		border: 0px;
		background-color: #3D72FE;
		color: #FFFFFF;
		text-align: center;
		float: left;
		line-height: 28px;
		top: 23px;
		right: 23px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin-left: 51px;
	}
	.div2 button:hover{
		cursor: pointer;
	}
	.newtestpaper_div2 {
		height: 100%;
		background-color: #FFFFFF;
		margin-top: 10px;
		position: relative;
	}
	
	#container {
		padding-top: 7px;
	}
	
	.bar6 form {
		position: relative;
		width: 300px;
		margin: 0 auto;
		margin-right: -29px;
	}
	
	.bar6 input,
	button {
		border: none;
		outline: none;
		box-sizing: border-box;
	}
	
	.bar6 input {
		border: 1.5px solid #D1D4D7;
		border-radius: 5px;
		background: transparent;
		top: 0;
		right: 0;
		width: 68%;
		height: 36px;
		padding-left: 13px;
	}
	
	.bar6 button {
		background: #3D72FE;
		border-radius: 0 5px 5px 0;
		width: 42px;
		top: 0;
		right: 58px;
		background-image: url(../img/searchBotton.png);
		background-repeat: no-repeat;
		background-position: 7px 5px;
		height: 36px;
		width: 42px;
		cursor: pointer;
		position: absolute;
	}
	
	.areas {
		position: absolute;
		width: 24%;
		margin-left: 129px;
		margin-top: 9px;
		border: 1px solid red;
		z-index: 9999;
		background-color: rgba(220, 220, 220, 0.5);
		position: absolute;
	}
	
	.areas input {
		width: 150px;
		height: 24px;
		border: 1px solid #F2F2F2;
		margin-left: 22px;
		margin-top: 5px;
	}
	
	.areas button {
		width: 30px;
		height: 24px;
		margin-left: -7px;
		border: 1px solid #F2F2F2;
	}
	
	.areas a {
		margin: 10px;
		margin-top: 5px;
	}
	
	.bar6 button:before {
		font-size: 13px;
		color: #F9F0DA;
	}
	
	.queryNavList_div {
		margin-top: 5px;
		width: 911px;
		height: 100%;
		margin-left: 30px;
		color: #000000;
	}
	
	.queryNavList_div dl dd {
		margin-top: 10px;
	}
	
	.queryNavList_div dl dd div a {
		margin-left: 15px;
		padding: 3px 6px;
		text-decoration: none;
		border-radius: 5px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	.queryNavList_div dl dd div a:hover {
		background-color: #006DCC;
		color: #FFFFFF;
	}
	
	.d1 {
		background-color: #006DCC;
		color: #FFFFFF;
	}
	
	.conditionChoice {
		width: 849px;
		height: 40px;
		margin: 12px 30px;
		border: 1px solid #F2F2F2;
		background-color: #F2F2F2;
		color: #000000;
	}
	
	.conditionChoice a {
		margin: -2px;
		padding: 10px 16px;
		line-height: 41px;
		text-decoration: none;
		border-right: 1px solid #A0A6AD;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	.choice1 {
		background-color: #FFFFFF;
		color: #0044CC;
	}
	
	.page1 a {
		border-right: 0px;
		font-size: 16px;
	}
	
	.subjectList {
		position: relative;
		width: 849px;
		height: 100%;
		margin: 12px 30px;
		border: 1px solid #F2F2F2;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
	}
	
	.subjectList:hover {
		border: 1px solid #497BFD;
	}
	
	.subjectList_top span {
		width: 36px;
		height: 36px;
		background-color: #F2F2F2;
		color: #FFFFFF;
		float: left;
		line-height: 36px;
		text-align: center;
		margin-right: 25px;
	}
	
	.subjectList_top i {
		float: right;
		background-color: #FDF3EC;
		border: 0px solid;
		border-radius: 15px;
		padding: 5px 10px;
		color: #B93535;
		margin-right: 25px;
	}
	
	.Truequestion:hover {
		background-color: #B93535;
		color: #FFFFFF;
	}
	/*点击真题弹出来的div*/
	#f2:hover{
		cursor: pointer;
	}
	.speech-bubble {
		position: absolute;
		background-color: #efe9e2;
		color: white;
		text-align: center;
		font-family: sans-serif;
		z-index: 9999;
		margin-left: 492px;
	}
	
	.speech-bubble ul {
		padding: 10px 25px;
	}
	
	.speech-bubble li {
		color: #B93535;
		list-style-type: none;
		line-height: 50px;
		border-bottom: 1px dotted #000000;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 290px;
	}
	
	.speech-bubble:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 9px solid;
	}
	
	.speech-bubble-top:after {
		border-bottom-color: #efe9e2;
		left: 88%;
		bottom: 100%;
	}
	
	.subjectinfo {
		font-size: 14px;
		width: 801px;
		margin-left: 32px;
	}
	
	.subjectDetails {
		height: 50px;
		width: 100%;
		background-color: #F2F2F2;
		margin-top: 11px;
	}
	
	.s_span {
		line-height: 50px;
		padding-left: 20px;
	}
	
	.s_span i {
		color: #497BFD;
	}
	
	.Situation_click {
		background-color: #FFFFFF;
		border-top: 1px solid #F2F2F2;
	}
	
	.subjectDetails a {
		padding: 15px 16px 20px 20px;
		padding-left: 20px;
		text-align: center;
		cursor: pointer;
		-webkit-user-select: none;
	}
	
	.subjectOperation {
		margin-left: 40px;
		display: inline;
	}
	
	.subjectOperation a {
		padding: 12px 38px;
		border: 0px solid;
		border-radius: 5px;
	}
	
	.subjectOperation_add {
		background-color: #59E8E3;
		color: #FFFFFF;
	}
	
	.subjectOperation_remove {
		background-color: #FFFFFF;
		color: #59E8E3;
	}
	
	.subject_info {
		width: 92%;
		height: 100%;
		margin-left: 32px;
	}
	
	.subject_info div {}
	
	.info_1 {
		border-bottom: 1px dashed skyblue;
	}
	
	.info_2 {
		border-bottom: 1px dashed skyblue;
	}
	
	.info_3 {
		border-bottom: 1px dashed skyblue;
	}
	
	.info_1 span {
		line-height: 40px;
		margin-left: 20px;
		padding-left: 4px;
	}
	
	.info_2 span {
		margin-left: 20px;
		line-height: 40px;
	}
	
	.info_2_div {
		padding-left: 113px;
		margin-bottom: 20px;
	}
	
	.info_3 {
		margin-bottom: 20px;
	}
	
	.info_3_div {
		padding-left: 113px;
		display: block;
		padding-bottom: 15px;
		border: none;
	}
	
	.info_3 span {
		margin-left: 20px;
		line-height: 40px;
	}
	
	.info_3_div span {
		padding: 5px 10px;
		border: 0px solid;
		background-color: #3D72FE;
		border-radius: 5px;
		color: #FFFFFF;
		margin: 10px 10px;
	}
	
	.info_4 span {
		line-height: 40px;
		margin-left: 30px;
	}
	
	.subject_Situation {
		padding: 10px 20px;
	}
	
	.Situation_1 div {
		display: inline;
	}
	
	.Situation_1_div2 {
		margin-left: 10px;
	}
	
	.Situation_1_div1 {
		float: right;
		cursor: pointer;
	}
	
	.Situation_1 a {
		padding: 4px;
		border: 1px solid #F2F2F2;
	}
	
	.Situation_2 {
		margin-top: 20px;
	}
	
	.Situation_2_div {
		width: 100%;
		height: 100%;
		border: 1px solid #0000FF;
	}
	
	.Situation_2_div p {
		margin: 20px;
		font-size: 16px;
		font-weight: 600;
	}
	
	.Situation_2_div a {
		padding: 5px 15px;
		border: 0px solid;
		border-radius: 5px;
		color: #666666;
		background-color: #F7F7F7;
		margin-left: 20px;
		margin-top: 40px;
	}
	
	.Situation_2_div_01 {
		margin: 20px;
	}
	
	.Situation_2_div_02 {
		float: right;
		margin-top: -55px;
		margin-right: 36px;
	}
	
	.Situation_2_div_02 i {
		font-size: 18px;
		color: #003399;
	}
	
	/*预览试卷弹出的div*/
	#hidebg {
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: #000;
		width: 100%;
		/*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
		height: 120%;
		filter: alpha(opacity=60);
		/*设置透明度为60%*/
		opacity: 0.6;
		/*非IE浏览器下设置透明度为60%*/
		display: none;
		z-Index: 2;
	}
	
	#previews {
		/*text-align: right;*/
		overflow: auto;
		position: absolute;
		width: 60%;
		height: 83%;
		top: 10%;
		left: 20%;
		border-radius: 5px;
		background-color: #fff;
		display: none;
		z-Index: 3;
		padding: 10px;
	}
	.pre_exit{
		cursor:pointer;
		float: right;
		right: 312px;
		position: fixed;
		font-size: 25px;
		color:red;
	}
	.pres{
		margin-top: 20px;
		line-height: 24px;
	}
	.pres p{
		margin-bottom: 6px;
	}
