@charset "utf-8";
body {
	background-color: #F2F2F2;
}

* {
	margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fr {
    float: right;
}
.fl {
    float: left;
}

.nav-top {
	width: 100%;
	height: 40px;
    background-color: #3d72fe;
    margin-top: -10px;
}

.nav-top-manin {
	margin-left: 18.75%;
}

.nav-top-manin-content {
	color: white;
	text-align: center;
	line-height: 40px;
	float: left;
	width: 123px;
}

.nav-top-manin-content:hover {
	cursor: pointer;
}

.nav-top-manin-content.pr {
	background-color: #59e8e3;
}

.nav-top-manin-but {
	margin-top: 5px;
	width: 104px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
	float: left;
	position: relative;
	left: 65%;
	background-color: #59e8e3;
	text-align: center;
}

.nav-top-manin-but:hover {
	cursor: pointer;
}

.center {
    width: 1200px;
    margin: 20px auto;
}
.center_nav{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
}
.center_nav span {
    color: #59e8e3;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
}
.center_nav .down {
    width: 260px;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    color: #a0a6ad;
    border-radius: 4px;
    border: 1px solid #a0a6ad;
    margin-top: 10px;
    margin-right: 20px;
    position: relative;
}
.center_nav .down span {
    display: inline-block;
    margin-top: 15px;
    border: 6px solid #9a9a9a;
    border-color: #9a9a9a transparent transparent transparent;
}
.center_nav .btn {
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-right: 10px;
    color: #fff;
    background-color: #3d72fe;
    border-radius: 10px;
}
.center_list {
    width: 100%;
    padding-right: 20px;
    margin-top: 20px;
    background-color: #fff;
}
.list_nav {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.list_nav span {
    color: #a0a6ad
}
.list_nav i {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
.studentlist {
margin-top: 40px;
border: 1px solid #9a9a9a;
}
.studentlist .left {
    width: 200px;
    border-right: 1px solid #9a9a9a;
}
.studentlist .left div {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #9a9a9a;
}
.studentlist .left div:first-child {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    background-color: #9a9a9a;
}
.studentlist .rightbox {
    width: 978px;
    height: 60px;
    padding-top: 20px;
    background-color: #fff;
    border-bottom: 1px solid #9a9a9a;
}
.studentlist .rightbox:first-child {
    background-color: #f2f2f2;
}
.studentlist div {
    display: inline-block;
    vertical-align: middle;
}
.studentlist .rightbox .leftbtn {
    width: 29px;
    height: 29px;
    line-height: 29px;
    margin-left: 20px;
    background-color: #9a9a9a;
    text-align: center;
    cursor: pointer;
}
.studentlist .rightbox .rightbtn {
    width: 29px;
    height: 29px;
    line-height: 29px;
    background-color: #9a9a9a;
    text-align: center;
    cursor: pointer;
}

.studentlist .rightbox #knowledgelist {
    width: 880px;
    /* height: 18px; */
    overflow: hidden;
}
.studentlist .rightbox .knowledgelist div {
    width: 125px;
    height: 18px;
    line-height: 18px;
    padding: 0px 10px;
    font-weight: 700;
    border-right: 3px solid #9a9a9a;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis; 
    overflow: hidden;
    cursor: pointer;
    letter-spacing:2px;
    position: relative;
}

.studentlist .rightbox .knowledgelist div:first-child {
    border-left: 3px solid #9a9a9a;
}

.studentlist .rightbox #knowledgelist2 {
    margin-left: 50px;
    width: 880px;
    height: 22px;
    overflow: hidden;
}
.studentlist .rightbox .knowledgelist2 .jdtbox  {
    width: 125px;
    padding: 0px 8px;
    height: 20px;
    border-radius: 20px;
    position: relative;
}
.studentlist .rightbox .knowledgelist2 .jdtbox .jdtbox1  {
    width: 110px;
    height: 20px;
    border-radius: 20px;
    background-color: #9a9a9a;
    position: absolute;
    top: 0px;
    left: 8px;
}
.studentlist .rightbox .knowledgelist2 .jdtbox .jdt  {
    width: 0px;
    height: 20px;
    border-radius: 20px;
    background-color: #3d72fe;
}
.knowledgelist {
    margin-left: 0px;
	transition: margin-left 1s linear;
}

.knowledgelist2 {
    margin-left: 0px;
	transition: margin-left 1s linear;
}
#tcbox {
	display: none;
    position: absolute;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #59e8e3;
}
#tcbox::after {
    content: "";
    border: 10px solid #59e8e3;
    border-color: transparent transparent #59e8e3 transparent;
    position: absolute;
    top: -18px;
    left: 10px;
}